In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/input_day2_1.txt', header=None)

In [3]:
data

                                 0
0                 5-9 g: ggccggmgn
1        11-16 l: llllqllllllllflq
2                 3-6 q: qvqqqpzqd
3              6-11 f: ffffpcffffp
4                7-8 l: lllqlwtqll
..                             ...
995  17-20 k: kkkkkkkkkkkkkkkkkkkk
996                 3-5 q: hjqrqsq
997         12-13 h: hhhhhhhhfhhhh
998                3-4 x: gxxjphxx
999                  4-6 g: sbwggg

[1000 rows x 1 columns]

In [4]:
data[['policy','password']] = data[0].str.split(':',expand=True)

In [6]:
data[['minmax', 'letter']] = data['policy'].str.split(' ', expand=True)

In [8]:
data[['min', 'max']] = data['minmax'].str.split('-', expand=True)

In [10]:
data['count'] = data.apply(lambda row: row.password.count(row.letter), axis=1)

In [24]:
data['valid'] = data.apply(lambda row: row['count'] >= int(row['min']) and row['count'] <= int(row['max']), axis=1)

In [25]:
data.valid.sum()

458

In [71]:
data['first_pos'] = data.apply(lambda row: int(row['min']), axis=1)

In [72]:
data['second_pos'] = data.apply(lambda row: int(row['max']), axis=1)

In [73]:
data['first'] = data.apply(lambda row: row.password[row.first_pos], axis=1)

In [74]:
data['second'] = data.apply(lambda row: row.password[row.second_pos], axis=1)

In [75]:
data['first_match'] = data.apply(lambda row: row.letter == row['first'], axis=1)
data['second_match'] = data.apply(lambda row: row.letter == row['second'], axis=1)

In [76]:
data['valid_2'] = data.apply(lambda row: row.first_match != row.second_match, axis=1)

In [77]:
data

,0,policy,password,minmax,letter,min,max,count,valid,first,first_pos,second_pos,second,first_match,second_match,valid_2
0,5-9 g: ggccggmgn,5-9 g,ggccggmgn,5-9,g,5,9,5,True,g,5,9,n,True,False,True
1,11-16 l: llllqllllllllflq,11-16 l,llllqllllllllflq,11-16,l,11,16,13,True,l,11,16,q,True,False,True
2,3-6 q: qvqqqpzqd,3-6 q,qvqqqpzqd,3-6,q,3,6,5,True,q,3,6,p,True,False,True
3,6-11 f: ffffpcffffp,6-11 f,ffffpcffffp,6-11,f,6,11,8,True,c,6,11,p,False,False,False
4,7-8 l: lllqlwtqll,7-8 l,lllqlwtqll,7-8,l,7,8,6,False,t,7,8,q,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,17-20 k: kkkkkkkkkkkkkkkkkkkk,17-20 k,kkkkkkkkkkkkkkkkkkkk,17-20,k,17,20,20,True,k,17,20,k,True,True,False
996,3-5 q: hjqrqsq,3-5 q,hjqrqsq,3-5,q,3,5,3,True,q,3,5,q,True,True,False
997,12-13 h: hhhhhhhhfhhhh,12-13 h,hhhhhhhhfhhhh,12-13,h,12,13,12,True,h,12,13,h,True,True,False
998,3-4 x: gxxjphxx,3-4 x,gxxjphxx,3-4,x,3,4,4,True,x,3,4,j,True,False,True
999,4-6 g: sbwggg,4-6 g,sbwggg,4-6,g,4,6,3,False,g,4,6,g,True,True,False

In [78]:
data.valid_2.sum()

342